@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.meal-description {
  font-style: italic;
}

.color-orange {
  color: rgb(243, 139, 29);
  height: 60px;
  width: 60px;
}
