@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.show-page {
    box-shadow: 4px 20px 30px 4px rgba(0, 0, 0, 0.1), 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 50px 0px;
    margin-left: auto;
    margin-right: auto;

}

.airline-logoUrl {
    height: 12.5rem;
}

.airline-title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: #1e9fd2;
}