footer {
    background: #3eaeee;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-links img {
    height: 50px;
    margin: 20px;
    cursor: pointer;
}

.social-links {
    text-align: center;
}