@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
}

.review-container {
  width: 40%;
  background: #204b57;
  color: #fff;
  margin: 2rem;
  box-shadow: 1px 3px 2px black;
  padding: 2.5rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  font-family: "Poppins";
  font-size: 25px;
}

.cards .card {
  width: 100%;
  margin-bottom: 0.7rem;
  background: #204b57;
  border-radius: 5px;
}

.card > * {
  padding: 1rem 1.2rem;
}

.card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.name,
.rate {
  display: inline-block;
  gap: 10px;
  color: #fff;
  justify-content: space-between;
}

.card-content {
  margin: 0;
  padding-top: 0;
}

.card-content p {
  font-size: 0.9rem;
  color: FFFCE8;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-action span {
  font-size: 0.08rem;
}

.card-action .btn {
  padding: 0.3rem 0.7rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  color: #8c8c9f;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #204b57;
  color: #fff;
}

.fa-facebook {
  background: #3b5998;
  color: #fff;
  padding: 0.3rem;
}

.fa-twitter {
  background: #55acee;
  color: #fff;
  padding: 0.3rem;
}

.fa-linkedin {
  background: #1b74b8;
  color: #fff;
  padding: 0.3rem;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1 );
  padding: 0.3rem;
}
