.airline-index-container {
    padding-bottom: 1rem;
    align-items: center;
    text-align: center;
    margin: 2rem auto 2rem auto;
    padding: 1rem 3rem;
  }

.quote {
  text-align: center;
  font-style: italic;
}

.quote-author {
  color: red;
  font-style: italic;
}



